/* blue */
/* --darker-color: #667aff; */
/* --lighter-color: #7386ff; */

/* red */
/* --darker-color: #f03131; */
/* --lighter-color: #f03131ea; */

/* green */
/* --darker-color: #28bd03; */
/* --lighter-color: #28bd03da; */

:root {
	--darker-color: #28bd03;
	--lighter-color: #28bd03da;
	--font-color: #e6e9ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	background: var(--font-color);
}

.btn {
	cursor: pointer;
	padding: 5px 10px;
	background-color: var(--font-color);
	color: var(--darker-color);
	border: 0;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: start;
}

/* Chat Page */

.chat-page {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	border-top: 2px solid var(--darker-color);
	border-bottom: 2px solid var(--darker-color);
	border-radius: 4px;
}

.chat-header {
	background: var(--darker-color);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.chat-users {
	background: var(--lighter-color);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-users h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-users h3 {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: start;
}

.chat-users ul li {
	padding: 10px 0;
}

h3 > img, .btn > img {
	margin-right: 5px;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--font-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--lighter-color);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--darker-color);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-page {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	border: 2px solid var(--darker-color);
	border-radius: 6px;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--darker-color);
}

.join-main {
	padding: 30px 40px;
	background: var(--lighter-color);
}

.join-main .form-item {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

#join-button{
	padding: 6px 0px;
	display: inline-block;
}